.one-box {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
    box-shadow: 3px 2px 1px #eee;
    list-style: outside none none;
}
.static-label{width:auto;float:left;text-align:left}
.label-value{width:auto;float:left;text-align:left}

.jain {

	padding: 10px 10px 10px 10px !important;
}
