<div class="movie-form">
   <form name="formInput" ng-submit="formInput.$valid && formctrl.callApi(formctrl.textrrr.type,formctrl.textrrr.year,formctrl.textrrr.field,formctrl.textrrr.order, this, formctrl.textrrr.check)" novalidate>
      <div class="enter-year">Please enter the year (i.e. 2014) 
         <input  ng-model="formctrl.textrrr.year" type="text" placeholder="Enter the year" ng-focus="tab = 2" required />
	 <increment-value ng-model="formctrl.textrrr.year" ></increment-value>
      </div>
      <div class="type-of-movie">
         Enter the movies category (pls enter hollywood or bollywood only) : 
         <input  ng-model="formctrl.textrrr.type" type="text" placeholder="Enter the type" ng-click="tab = 1" ng-focus="tab = 1" required />
      </div>
      <div ng-show="a.movies">
         Do you want to sort your results ..??<input ng-model="formctrl.textrrr.check" type="checkbox" value="true" />Yes
         <div ng-show="formctrl.textrrr.check">
            <!--{{formctrl.textrrr.check}}-->
            <div class="earning">
               Please select the sort field:
               <select ng-model="formctrl.textrrr.field"  >
                  <option value="lifetime">LifeTime Earning</option>
                  <option value="openingweek">Openingweek Earning</option>
                  <option value="openingweekend">Openingweekend Earning</option>
                  <option value="openingday">Openingday Earning</option>
               </select>
            </div>
            <div class="high-low">
               Please select the sort order:
               <select ng-model="formctrl.textrrr.order" >
                  <option value="asc">Low to High</option>
                  <option value="desc">High to Low</option>
               </select>
            </div>
         </div>
      </div>
      <input type="submit" value="Submit" class="btn btn-primary"/>
   </form>
</div>
<cite ng-show="tab === 2 && !a" ></br>Result for year : <strong>{{formctrl.textrrr.year}}</strong> !!</cite>
<div ng-show="tab === 1 && !a" > And for {{formctrl.textrrr.type}} movies..</div>
<cite ng-show="formctrl.textrrr.field"></br>Sort By : <strong>{{formctrl.textrrr.field}}</strong>!</cite>
<cite ng-show="formctrl.textrrr.order"></br>Income : <strong>{{formctrl.textrrr.order}}</strong>!</cite>
<p><cite ng-show="a && a.msgdesc">{{a.msg}} <strong> AND </strong> {{a.msgdesc}}</cite></p>
